/* style.css */

/* Reset básico e fonte */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #656a6d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: 90vh;
}

/* Título */
h2 {
    margin-top: 200px;
    color: #fff;
    text-align: center;
}

/* Input de arquivo */
input[type="file"] {
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Preview da imagem */
#preview {
    border: 3px solid #fff;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

/* Resultado da predição */
#result {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

/* Mensagem inicial */
#result:empty {
    color: #888;
}

/* Pequeno efeito no hover do input */
input[type="file"]:hover {
    box-shadow: 5px 1px 15px rgba(25, 0, 255, 0.2);
}
